@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
/* variabel font */
:root {
  --font-geist-sans: 'Geist', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
  --font-nunito-sans: 'Nunito Sans', sans-serif;
  --font-signika-negative: 'Signika Negative', serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: white;
  /* ganti font untuk seluruh halaman */
  font-family: var(--font-signika-negative);
  scroll-behavior: smooth;
  overflow-x: hidden;
}
